body{
    margin: 0px;
    box-sizing: border-box;
}

.contenedor{
    display: flex;
    justify-content: stretch;
    background: #7B3F00;
    padding: 15px;
}

.carta{
    display:flex;
    flex-direction: column;
    justify-content: stretch;
    background: #FFFDCE;
    padding: 20px;
    border-radius: 10px;
    color: #7B3F00;
}

.encabezado{
    align-self: flex-end;
    /*font-family: 'Merienda', cursive;*/
    font-family: 'Overlock', cursive;
    font-weight: bold;
    font-size: 1.5rem;
}

.de-para{
    font-family: 'Overlock', cursive;
    font-weight: bold;
    font-size: 1.2rem;
}
.saludo{
    font-family: 'Arima Madurai', cursive;
    font-weight: bold;
    font-size: 1rem;
}

.cuerpo{
    font-family: 'Arima Madurai', cursive;
    font-weight: bold;
    font-size: 1rem;
}

.despedida{
    font-family: 'Overlock', cursive;
    font-weight: bold;
    font-size: 1.2rem;
}
/*GALERIA*/


/*HEART*/
.background-heart{
margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: radial-gradient(circle, #feb645, #ffc639, #ffd72c, #ffe91b, #fbfb04);

}

.heart{
    position: relative;
    width: 200px;
    height: 200px;
    background: #fbfb04;
    transform: rotate(45deg);
    box-shadow: 30px 30px 200px rgba(0,  0, 0, .5);
animation: animate 1s linear infinite;
}

@keyframes animate{
    0%{
        transform: rotate(45deg) scale(1);
    }
    20%{
        transform: rotate(45deg) scale(.8);
    }
    40%{
        transform: rotate(45deg) scale(1.2);
    }
    60%{
        transform: rotate(45deg) scale(1);
    }
    80%{
        transform: rotate(45deg) scale(1.3);
    }
    100%{
        transform: rotate(45deg) scale(1);
    }
}

.heart:before{
    content:'';
    position: absolute;
    top: -100px;
    width:200px;
    height: 100px;
    background: #fbfb04;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.heart:after{
    content:'';
    position: absolute;
    left: -100px;
    width:100px;
    height: 200px;
    background: #fbfb04;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}   